body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

table
{
  border-collapse: separate;
  border-spacing: 10px;
  text-align: center;
  border-style:dotted;
}

th
{
  border-style:dashed;
}
tr
{
  background-color:wheat;
}
td{
  border-style: double;
}

.Course {
  text-decoration: underline;;
}
.ClassNumb {
  color: grey;
}
.Section {
  color: grey;
}
.Room {
  color: grey;
}
.Time {
  color: green;
}
.Instructor {
  font-weight: bold;;
}
.MeetingDates {
  color: grey;
}
.Status {
  color: grey;
}
.BookstoreLink {
  color: blue;
}
.InstructionMode {
  color: red;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}